
.container {
    width: 700px;
    margin: 40px auto;
}

.header{
    justify-content: center;
    display: flex;
    font-size: 30px;

}

.rock{
  width:80px;
  height: 80px;
  padding:10px;
}

.paper{
  width:80px;
  height: 80px;
  padding:10px;
}

.scissors{
  width:80px;
  height: 80px;
  padding:10px;
}
