
.container {
    width: 700px;
    margin: 40px auto;
}

.header{
    justify-content: center;
    display: flex;
    font-size: 30px;

}

#buttons{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.rock{
  background-image: url('images/rock.png');
  height: 70px;
  padding: 5px;
  width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.paper{
   background-image: url('images/paper.png');
     height: 70px;
  padding: 5px;
  width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.scissors{
    background-image: url('images/scissors.png');
      height: 70px;
  padding: 5px;
  width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.question{
  background-image: url('images/question.png');
      height: 70px;
  padding: 5px;
  width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.rock img{
  height: 70px;
  padding: 5px;
}

.paper img{
  height: 70px;
  padding: 5px;
}

.scissors img{
  height: 70px;
  padding: 5px;
}

.btn{
  margin:10px;
}
