
.container {
    width: 700px;
    margin: 40px auto;
}

.header{
    justify-content: center;
    display: flex;
    font-size: 30px;

}

#buttons{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.rock img{
  height: 70px;
  padding: 5px;
}

.paper img{
  height: 70px;
  padding: 5px;
}

.scissors img{
  height: 70px;
  padding: 5px;
}

.btn{
  margin:10px;
}
